@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Salsa', sans-serif; }

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(45deg,  #02dd90, #001f3f); }

.container {
    position: relative;
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px; }

.container .box {
    position: relative;
    width: 400px;
    background: #fff;
    padding: 20px;
    box-shadow: 15px 15px 15px rgba(0,0,0,0.3); }

.container .box h2 {
    font-size: 1.75em;
    font-weight: 500;
    color: #333;
    margin-bottom: 15px;
    width: 100%;
    text-align: center; }

.container .box #grocery {
    position: relative;
    width: 100%;
    display: flex; }

.container .box #grocery input {
    position: relative;
    width: 100%;
    padding: 10px;
    border: 1px solid #333;
    outline: none; }

.container .box #grocery button {
    background: #4bae4f;
    color: #fff;
    min-width: 100px;
    font-weight: 500;
    border: 1px solid #333;
    cursor: pointer;
    outline: none; }

.container ol {
    position: relative;
    padding: 10px 20px 10px 40px;
    width: 100%;
    min-height: 398px;
    background: #fff repeating-linear-gradient(transparent 0%, transparent 99%, #000 99%, #000 100%); 
    background-size: 50px 50px;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.3); }

 .container ol li {
    position: relative;
    font-size: 1.5em;
    height: 50px;
    cursor: pointer;}

 .container ol li .remove {
    position: absolute;
    top: 5px;
    right: 0;
    width: 25px;
    height: 25px;
    background: url(imgs/trash.png.png);
    background-size: cover;
    border-radius: 50%;
    cursor: pointer;}

 .container ol li.done p {
    text-decoration: line-through;
    color: rgba(0,0,0,0.2);}

 .container ol li.done p:after {
    content: '';
    position: absolute;
    top: 5px;
    right: 35px;
    width: 25px;
    height: 25px;
    background: url(imgs/check.png.png);
    background-size: cover;
    border-radius: 50%;
    cursor: pointer;}

